<script lang="ts" setup>
import { useStore } from "../store";
const store = useStore();
</script>
<template>
  <main>
    <div class="cards">
      <template v-for="module in store.modules" :key="module.id">
        <div
          class="card"
          v-if="(module.visibleFrom?.toMillis() || 0) <= Date.now()"
        >
          <div>
            <h2>{{ module.title }}</h2>
            <p v-if="store.answers[module.id]">Du har svarat på denna</p>
          </div>
          <div>
            <router-link :to="'/module/' + module.name" v-if="store.isAdmin">
              Lägg till frågor
            </router-link>
            <router-link :to="'/questions/' + module.name">
              Svara på frågor
            </router-link>
          </div>
        </div>
      </template>
    </div>
  </main>
</template>
<style>
main {
  /* background: palevioletred; */
  display: grid;
  justify-content: center;
  align-content: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.card {
  border: 1px solid #fff;
  width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
</style>
